.iconArrow{
    max-width: 40px;
    height:1.5em;
    margin-left:1em;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
}
.iconArrow.prevArrow{
    transform: rotate(180deg);
    margin-right:1em;
    margin-left:0.5em;
}
.eventsCarousel{
    margin-top:3.5em;
    margin-bottom:2.1em;
}
.eventBox{
    position:relative;
    line-height: 1.3em;
    width:100%;

}
.eventBoxDate{
    display:inline-block;
    width:20%;
    vertical-align: top;
    box-sizing: border-box;
}
.eventBoxDescription{
    display:inline-block;
    width:78%;
    vertical-align: top;
    padding-left:1em;
    box-sizing: border-box;
}
.eventBoxDescription h3{
    font-size:1em;
    margin:0;
}

.insidersSectionWrapper{
    margin-top:2em;
}
.insidersSectionTitle{

    display:inline-block;
    vertical-align: middle;
}
.insidersSectionTitle h2{
    margin:0;
}
.insidersArrow{
    display: inline-block;
    visibility: middle;
}

